# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular languages for Data Science
* Libraries used by Data Scientists
+ Develpment environment Data Science Tools
+ Arithmetic Expressions
- Expression for Hours to Minutes

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. JAVA

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Jupyter Lab |
| Apache Zepplin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Shanaj